/*advance文件:投资项目页面样式*/
*{
    padding:0;
    margin:0;
}
/*公共样式*/
.ptxt{
    margin-top:2px;
    font-size: 12px;
    color: #d0d0d0;
}
/*解决advance页面第一个子项显示问题*/
#header .aqj-menu .nav-link li .active{
    color: #333333 !important;
    border-bottom: none;
}
#header .aqj-menu .nav-link li .active:hover{
    color: rgb(237, 124, 94)!important;
    border-bottom:3px solid rgb(237, 124, 94);
}
#header .aqj-menu .nav-link li:nth-child(2) a{
    color: rgb(237, 124, 94)!important;
    border-bottom:3px solid rgb(237, 124, 94);
}
/*解决advance页面tab标签问题*/
/*公共样式结束*/
/*投资项目*/
#advance{
    min-width:1170px;
    height: 800px;
    border:1px solid orange;
    border-top-color:#e7ebee ;
}
#advance .title{
    padding:20px 0;
    height:38px;
    padding-bottom:55px;
    border-bottom: 6px solid #586171;
}
#advance .title i{
    display:inline-block;
    width:40px;
    height:38px;
    background:url("../img/sp.png") no-repeat -306px -172px;
}
#advance .title .txt{
    color: #586172;
    font-size: 18px;
    display:inline-block;
    /*line-height: 38px;*/
    position: relative;
    top:-50%;
    transform:translateY(-50%);
    margin-left:8px;
}
/*理财产品模块*/
#advance .main{
    /*height:400px;*/
    border: 1px solid #666;
    margin-top: 20px;
}
#advance .main .row{
    width:inherit;
    margin: 0 auto;
    height:180px;
    /*padding:10px 0 20px 0;*/
    border:1px solid #ddd;
    margin-bottom:30px;
    position: relative;
}
.row .left{
    height:inherit;
    background-color:#edeff5;
}
/*p2p产品公共样式*/
    .row .pname{
        text-align: center;
        font-size: 12px;
        color: #74859c;
        margin: 0 auto;
        width:100%;
    }
    .row .pdesc{
        position: absolute;
        bottom:10px;
        font-size: 12px;
        text-align: center;
        width: 100%;
        color: #61a0ea;
        left:50%;
        transform: translateX(-50%);

    }
    .row .right .step .snum{
        margin-top:10px;
        display: inline-block;
        width:35px;
        height:35px;
        border-radius: 50%;
        background:#d6d9dd;
        font-style: normal;
        color:#fefefe;
        text-align: center;
        line-height: 35px;
    }
/*p2p公共结束*/
/*零存宝开始*/
.main .lqb .news{
    display: inline-block;
    width:84px;
    height:76px;
    position: absolute;
    left:0;
    top:0;
    background:url("../img/sp.png") no-repeat -87px -240px;
}
.lqb .logo{
    display:block;
    width:70px;
    height:70px;
    background:url("../img/sp.png") no-repeat -13px -124px;
    vertical-align: middle;
    margin:15% 25% 5%;
    /*使用margin解决占据空间位置问题,不能使用定位,否则不占据文档位置*/
    /*position:relative;*/
    /*top:50%;*/
    /*left:50%;*/
    /*border:1px solid orange;*/
    /*transform:translateX(-50%) translateY(-65%);*/
}
/*零存宝结束*/
/*整存宝开始*/
.main .zcb{
    height: 300px !important;
}
.main .zcb .news{
    display: inline-block;
    width:84px;
    height:76px;
    position: absolute;
    left:0;
    top:0;
    background:url("../img/sp.png") no-repeat -280px -0px;
}
.zcb .logo{
    display:block;
    width:70px;
    height:70px;
    background:url("../img/sp.png") no-repeat -153px -124px;
    vertical-align: middle;
    margin:30% 25% 5%;
}
/*整存宝结束*/
/*散标开始*/
.main .sbiao{
    height: 220px !important;

}
.sbiao .logo{
    display:block;
    width:64px;
    height:64px;
    background:url("../img/sp.png") no-repeat -157px -4px;
    vertical-align: middle;
    margin:30% 25% 5%;
}
/*散标结束*/
/*协议模板开始*/
.main .greement .logo{
    display:block;
    width:57px;
    height:61px;
    background:url("http://res.iqianjin.com/images/invest/protocol-icon.png");
    vertical-align: middle;
    margin:30% 25% 5%;
}
/*协议模板结束*/